In [1]:
from iplot._scanpy import tsne
import scanpy as sc
import matplotlib.pyplot as plt
import numpy as np

In [2]:
adata =  sc.read_h5ad("./userData/datafile/hg19_5e3a41f8_5e4b51c2.h5ad")

In [3]:
adata =  sc.read_h5ad("./userData/datafile/hg19_5e3a41f8_5e4b51c2.h5ad")
sc.pp.filter_genes(adata, min_cells=300)
# sc.pp.filter_genes(adata, min_cells=300)
sc.pp.pca(adata)
sc.pp.neighbors(adata)
sc.tl.louvain(adata)
sc.tl.tsne(adata)
sc.tl.umap(adata)
# adata.write("louvain.h5ad")
# import json
# with open("../test.json", "w") as f:
#     json.dump(tsne(adata), f)

WARNING: Consider installing the package MulticoreTSNE (https://github.com/DmitryUlyanov/Multicore-TSNE). Even for n_jobs=1 this speeds up the computation considerably and might yield better converged results.

In [8]:
adata.obs['test'] = adata.obs.louvain.apply(lambda x: x[0])

In [10]:
adata.write("test.h5ad")

... storing 'test' as categorical

In [4]:
adata.var

                   gene_ids  n_cells
index
ISG15       ENSG00000187608     1206
SDF4        ENSG00000078808      340
AURKAIP1    ENSG00000175756      770
MRPL20      ENSG00000242485      677
SSU72       ENSG00000160075      901
...                     ...      ...
MT-ND4L     ENSG00000212907      398
MT-ND4      ENSG00000198886     2588
MT-ND5      ENSG00000198786     1399
MT-CYB      ENSG00000198727     2517
AL592183.1  ENSG00000220023      323

[1892 rows x 2 columns]